
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;700;800&family=Raleway:wght@300;400;500&display=swap');


*{

    margin: 0;
    padding: 0%;
}


body{
    background-image: url('background for email template.avif');
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 100vh;
}

.container{
    width: 99%;
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-box {
    width: 70%;
    height: 70vh;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 4px 3px 12px rgb(110 110 110);
    display: flex;
    justify-content: center;
    align-items: center;
}
.tw{
    color: white;
}
.tc{
    text-align: center;
}
.call-btn{
    border: 1px solid rgb(255, 255, 255);
    outline: 0;
    border-radius: 10px;
    padding: 10px 20px ;
    background: transparent;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}
.call-btn:hover{
    border: 1px solid rgb(255, 255, 255);
    outline: 0;
    border-radius: 10px;
    padding: 10px 20px ;
    background: white;
    cursor: pointer;
    color: black;
}
.icon_box {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: space-around;
    left: -0.4vw;
}

.social-icons a img{

    width: 5vw;
    height: auto;
    box-shadow: rgba(250, 250, 250, 0.521);
    padding-bottom: 5px;
}


.font-heading{

    font-size: 3vw;
    font-family: 'Lexend', sans-serif;
    

}

.font-standard{

    font-size: 1.4vw;
    font-family: 'Raleway', sans-serif;
    padding: 2vh;
}
 


.loading-animation{

    background-color: rgb(92, 12, 221);
    width: 100%;
    height: 4.6px;
    animation: loading 1.8s linear ;
}

@keyframes loading{

    0%{
        width: 0;
    }
    20%{
        width: 40%;
    }
    60%{
        width: 80%;
    }
    100%{
        width: 100%;
    }
}



